.contactdiv {
  padding-top: 50px;
  width: 50%;
  padding-left: 50px;
  margin: 0 auto;
  height: auto;
}
@media only screen and (max-width: 766px) {
  .contactdiv {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto 0;
  }
  .contactdiv .card {
    margin-left: -3px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 896px) {
  .contactdiv {
    padding-left: 0px;
    padding-right: 0px;
  }
}
